# 2.2.1 Reading The Dataset

### Reading CSV Files with pandas

Comma-separated values (CSV) files are widely used for storing tabular data.  
- Each line in a CSV file represents a record, with fields separated by commas.  
- For example: `"Albert Einstein, March 14 1879, Ulm, Federal polytechnic school, field of gravitational physics"`.  

To demonstrate how to load CSV files using `pandas`, we create a sample CSV file: `../data/house_tiny.csv`.  
- This file contains a dataset of homes, where each row represents a home.  
- The columns include the number of rooms (`NumRooms`), the roof type (`RoofType`), and the price (`Price`).

In [1]:
import os

In [18]:
os.makedirs(os.path.join('data'), exist_ok=True)
data_file = os.path.join('data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('''Numrooms,Rooftype,Price
            2,Flat,127500
            3,Flat,106000
            NA,NA,178000
            4,Flat,140000''')

In [19]:
import pandas as pd

In [20]:
data = pd.read_csv(data_file)
print(data)

         Numrooms Rooftype   Price
0               2     Flat  127500
1               3     Flat  106000
2              NA      NaN  178000
3               4     Flat  140000