# 2.2.5 Exercises

1. Try loading datasets, e.g., Abalone from theUCI Machine Learning Repository50andinspect their properties. What fraction of them has missing values? What fraction ofthe variables is numerical, categorical, or text?

In [1]:
import pandas as pd

In [2]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data"
column_names = [
    "Sex", "Length", "Diameter", "Height", "WholeWeight",
    "ShuckedWeight", "VisceraWeight", "ShellWeight", "Rings"
]

In [3]:
abalone_data = pd.read_csv(url, header=None, names=column_names)

In [4]:
missing_values_fraction = abalone_data.isnull().mean()

In [5]:
data_types = abalone_data.dtypes

In [6]:
num_numerical = sum(data_types == "float64") + sum(data_types == "int64")
num_categorical = sum(data_types == "object")
num_text = 0

In [8]:
total_columns = len(column_names)
fraction_numerical = num_numerical / total_columns
fraction_categorical = num_categorical / total_columns
fraction_text = num_text / total_columns

In [9]:


# Print results
print("Fraction of missing values in each column:")
print(missing_values_fraction)
print("\nFraction of variables:")
print(f"Numerical: {fraction_numerical:.2f}")
print(f"Categorical: {fraction_categorical:.2f}")
print(f"Text: {fraction_text:.2f}")

Fraction of missing values in each column:
Sex              0.0
Length           0.0
Diameter         0.0
Height           0.0
WholeWeight      0.0
ShuckedWeight    0.0
VisceraWeight    0.0
ShellWeight      0.0
Rings            0.0
dtype: float64

Fraction of variables:
Numerical: 0.89
Categorical: 0.11
Text: 0.00

Try indexing and selecting data columns by name rather than by column number. Thepandas documentation onindexing51has further details on how to do this.

In [10]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

In [11]:
age_column = df['Age']
print(age_column)

0    25
1    30
2    35
Name: Age, dtype: int64

In [12]:
selected_columns = df[['Name', 'City']]
print(selected_columns)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago